---
import { Image } from 'astro:assets'
import Link from '@components/Link.astro'
import PageLayout from '@layouts/PageLayout.astro'
import cybersecImage from '@assets/cybersec.jpeg'
---

<PageLayout title="whoami" class="flex flex-col gap-4">
	<h2>~$: cat bio.txt</h2>
	<p>My name is Giulia, but you can call me Gihu, or Syntologist, or however you like.</p>
	<p>
		My dad gave me a laptop running some Linux distro back in middle school, and ever since, I couldn't stop loving
		computers.
	</p>
	<Image
		src={cybersecImage}
		alt="A picture of myself in cyber security summit"
		width="638"
		class="my-4 border border-white"
	/>
	<p>
		My 2 biggest areas of interest are computers and cars. I once accidentally broke an old electronic device while
		examining it inside and felt like I killed a man, since then I became fully dedicated to cyber security and ethical
		hacking - participating in bug bounty programs, leading the implementation of the SaaS department at a Brazilian
		company, working as a full time information security analyst, and a plethora of corporate yapping.
	</p>

	<p>
		This website is meant to be an archive of my very own thoughts and stuff I don't have anyone to chat about. So feel
		comfortable to wander around this corner of our vast cyberspace for as much time as we have before we're forever
		lost to the thought of our sins, predeterminated by the silicon God, one of precision in protocols and indeterminacy
		of result, the chaos God.
	</p>
</PageLayout>
