---
export type Props = {
	title: string
	class?: string
	description?: string
	frontmatter?: any
}

const { class: className, frontmatter, ...props } = Astro.props
const title = props.title || frontmatter?.title
const description = props.description || frontmatter?.description
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" href="/favicon.ico" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<title>{title}</title>
		{description && <meta name="description" content={description} />}
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;800&display=swap" rel="stylesheet" />
		<slot name="head" />
	</head>
	<body class={className}>
		<slot />
	</body>
</html>
