---
import Header from '@components/Header.astro'
import Footer from '@components/Footer.astro'
import BaseLayout, { type Props } from '@layouts/BaseLayout.astro'

const { class: className, ...props } = Astro.props
---

<BaseLayout {...props} class="px-4">
	<div class="container max-w-2xl border-x border-white">
		<Header />
		<main class:list={['p-4', className]}>
			<slot />
		</main>
		<Footer />
	</div>
</BaseLayout>
